<div class="container">
  <div *ngIf="state === 'Input'">
    <h2>Reset your Password</h2>
    <form #form="ngForm" (ngSubmit)="sendPasswordReset()">
      <div class="form-group">
        <p>Enter your email address:</p>
        <input type="email" name="email" class="form-control" [(ngModel)]="email" required pattern="[a-zA-Z0-9]+[_a-zA-Z0-9\.-]*[a-zA-Z0-9]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})">
      </div>
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Reset Password</button>
    </form>
  </div>

  <div *ngIf="state === 'Sent'">
    <h2 class="green"><i fa [name]="'check'"></i> Email Sent</h2>
    <p>An email has been sent to {{email}} with a link to reset your password.</p>

    <p class="text-warning">Can't find the email? Check your spam filters and then try resending.</p>
    <button type="button" class="btn btn-default">Resend</button>
  </div>
</div>
