.editor-area {
  border: 2px solid #ddd;
  margin-bottom: 15px;
}
.header {
  background: #f7f7f7;
  padding: 10px;
  border-bottom: 1px solid #ddd;

  display: flex;
  justify-content: space-between;
  align-self: center;
}
.header > h3 {
  margin: 0;
  margin-top: 5px;
}
