<div class="container">
  <h2>Create Problem</h2>
  <form #form="ngForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" autocomplete="off" class="form-control" name="name" [(ngModel)]="problem.name">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="5" name="description" [(ngModel)]="problem.description"></textarea>
    </div>

    <div *ngFor="let testCase of testCases; let i = index">
      <label>Test Case {{i+1}}</label>
      <div class="form-group">
        <textarea name="input{{i}}" [(ngModel)]="testCase.input" placeholder="Input" rows="1" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <textarea name="output{{i}}" [(ngModel)]="testCase.output" placeholder="Output" rows="1" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <textarea name="hint{{i}}" [(ngModel)]="testCase.hint" placeholder="Hint (Optional)" rows="1" class="form-control"></textarea>
      </div>
    </div>
    <a (click)="addTestCase()">Add Test Case</a>

    <div class="form-group">
      <label for="timeout">Solution Time Limit (seconds)</label>
      <input type="number" class="form-control" name="timeout" [(ngModel)]="problem.timeout">
    </div>

    <div class="form-group">
      <label for="difficulty">Difficulty</label>
      <select class="form-control" name="difficulty" [(ngModel)]="problem.difficulty">
        <option value="Beginner">Beginner</option>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>
    </div>

    <div class="form-group">
      <label for="feedback">Feedback Level</label>
      <div class="radio">
        <label><input type="radio" name="feedback" value="Simple" [(ngModel)]="problem.feedback">Simple</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="feedback" value="Revealing" [(ngModel)]="problem.feedback">Revealing</label>
      </div>
    </div>

    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
