<div class="container">
  <div class="top">
    <div class="row" *ngIf="competition && ended !== undefined">
      <div class="col-xs-12 col-sm-10 scoreboard-header">
        <h2>
          <span class="competition-name">{{competition.name}}</span>
          <span *ngIf="!ended">Live Scoreboard</span>
          <span *ngIf="ended">Final Results</span>
        </h2>
        <div *ngIf="!ended">
          <app-countdown class="countdown lead" [date]="competition.endTime" [labels]="true" [colors]="false"></app-countdown>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <a [routerLink]="['../']" id="view-problems-btn" class="btn btn-primary">View Problems</a>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Problems Solved</th>
        <th>Time Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ranking of rankings; let i = index">
        <th scope="row">{{i+1}}</th>
        <td *ngIf="ranking.user"><a [routerLink]="['/profiles', ranking.user.$key]">{{ranking.user.name}}</a></td>
        <td>{{ranking.problemsSolved}}</td>
        <td>
          <span *ngIf="ranking.timeScore.days">
            {{ranking.timeScore.days | zeroPad:2}}
            <span>d</span>
          </span>
          <span *ngIf="ranking.timeScore.hours">
            {{ranking.timeScore.hours | zeroPad:2}}
            <span>h</span>
          </span>
          <span *ngIf="ranking.timeScore.minutes">
            {{ranking.timeScore.minutes | zeroPad:2}}
            <span>m</span>
          </span>
          <span>
            {{ranking.timeScore.seconds | zeroPad:2}}
            <span>s</span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
