.top {
  margin-top: 20px;
  margin-bottom: 10px;
}
#view-problems-btn {
  display: block;
}
.scoreboard-header > h2 {
  margin: 0;
}
.scoreboard-header > * {
  display: inline-block;
  /*margin-bottom: 0;*/
}
.countdown {
  margin-left: 15px;
  margin-right: 15px;
}
.competition-name {
  font-weight: bold;
}
td > a {
  display: block;
}
td {
  font-size: 1.2em;
}
