<div class="container">
  <div class="scoreboard-header" *ngIf="competition">
    <h2><span class="competition-name">{{competition.name}}</span> Scoreboard</h2>
    <div *ngIf="remainingTime" class="countdown lead text-warning">
      <span class="days" *ngIf="remainingTime.days">{{remainingTime.days | zeroPad:2}}d</span>
      <span class="hours" *ngIf="remainingTime.hours">{{remainingTime.hours | zeroPad:2}}h</span>
      <span class="minutes">{{remainingTime.minutes | zeroPad:2}}m</span>
      <span class="seconds">{{remainingTime.seconds | zeroPad:2}}s</span>
    </div>
    <a [routerLink]="['../']" class="btn btn-primary">View Problems</a>
  </div>
  <!-- Problem List link-->
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Problems Solved</th>
        <th>Time Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ranking of rankings; let i = index">
        <th scope="row">{{i+1}}</th>
        <td *ngIf="ranking.user"><a [routerLink]="['/profiles', ranking.user.$key]">{{ranking.user.name}}</a></td>
        <td>{{ranking.problemsSolved}}</td>
        <td>{{ranking.timeScore}}</td>
      </tr>
    </tbody>
  </table>
</div>
