<p>Competition has not started yet.</p>
<p>You will be automatically redirected in:</p>
<div class="countdown" *ngIf="remainingTime">
  <span class="time days">{{remainingTime.days | zeroPad:2}}</span>
  <span class="separator">:</span>
  <span class="time hours">{{remainingTime.hours | zeroPad:2}}</span>
  <span class="separator">:</span>
  <span class="time minutes">{{remainingTime.minutes | zeroPad:2}}</span>
  <span class="separator">:</span>
  <span class="time seconds">{{remainingTime.seconds | zeroPad:2}}</span>
</div>
