<div class="container">
  <h3>{{competitionName}} has not started yet.</h3>
  <div class="countdown lead" *ngIf="remainingTime">
    <p>You will be automatically redirected in:</p>
    <span class="time days">{{remainingTime.days | zeroPad:2}}</span>
    <span class="separator">:</span>
    <span class="time hours">{{remainingTime.hours | zeroPad:2}}</span>
    <span class="separator">:</span>
    <span class="time minutes">{{remainingTime.minutes | zeroPad:2}}</span>
    <span class="separator">:</span>
    <span class="time seconds">{{remainingTime.seconds | zeroPad:2}}</span>
  </div>
</div>
