p {
  margin-top: 8px;
  margin-bottom: 8px;
}
.problem-name {
  margin-bottom: 20px;
}
.problem-tabs {
  margin-bottom: 20px;
  padding: 5px 5px 0px 5px;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.problem-tabs>li>a {
  margin: 5px 5px 0px 5px;
  padding: 5px 10px 10px 10px;
  color: #555;
}
.problem-description {
  font-size: 1.25em;
}
.problem-details {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.problem-detail-label {
  opacity: 0.75;
}
.problem-submission-details {
  opacity: 0.5;
}
.problem-submission-details>p {
  margin-top: 0px;
}
.problem-my-submissions-absent {
  text-align: center;
  font-size: 1.25em;
}
.problem-leaderboard-absent {
  text-align: center;
  font-size: 1.25em;
}
.submission-modal-body {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

/* Center the modal to the middle of the screen */
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 100%;
  padding: 15px;
}
.modal {
  text-align: center;
}
.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
