p {
  margin-top: 8px;
  margin-bottom: 8px;
}
.problem-name {
  margin-bottom: 20px;
}
.problem-tabs {
  margin-bottom: 20px;
  padding: 5px 5px 0px 5px;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.problem-tabs>li>a {
  margin: 5px 5px 0px 5px;
  padding: 5px 10px 10px 10px;
  color: #555;
}
