<div *ngIf="authService.userSnapshot">
  <div *ngIf="mySubmissions">
    <div *ngIf="mySubmissions.length">
      <div class="list-group">
        <div *ngFor="let submission of mySubmissions" class="list-group-item">
          <div class="row">
            <div *ngIf="submission.status === 'Pass'">
              <i class="col-xs-1 green" fa [name]="'check'"></i>
              <div class="col-xs-4">{{submission.execTime | precision:5}} seconds</div>
            </div>
            <div *ngIf="submission.status !== 'Pass'">
              <i class="col-xs-1 red" fa [name]="'times'"></i>
              <div class="col-xs-4">{{submission.status | spacify}}</div>
            </div>
            <div class="col-xs-3">{{submission.lang | lang}}</div>
            <div class="col-xs-4">{{submission.submittedOn | date:'medium'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!mySubmissions.length" class="notification">
      <p>You currently have no submissions!</p>
      <a class="btn btn-primary" [routerLink]="['../']">Solve Now</a>
    </div>
  </div>
</div>
<div *ngIf="!authService.userSnapshot" class="notification">
  <p>You are not logged in.</p>
  <a class="btn btn-primary" (click)="loginModalService.show()">Log In</a>
</div>
