<div class="dropdown">
  <button
      class="btn btn-default dropdown-toggle"
      type="button"
      id="langDropdown"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="true">
    <span *ngIf="currentLanguage">{{currentLanguage.name}}</span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="langDropdown">
    <li *ngFor="let language of supportedLanguages">
      <a (click)="selected(language)">{{language.name}}</a>
    </li>
  </ul>
</div>
