<span
  [class.text-warning]="colors && pastWarningTime()"
  [class.text-danger]="colors && pastAlertTime()">
  <span *ngIf="timeSpan.days || !hide">
    {{timeSpan.days | zeroPad:2}}
    <span *ngIf="labels">d</span>
    <span *ngIf="!labels">:</span>
  </span>
  <span *ngIf="timeSpan.hours || !hide">
    {{timeSpan.hours | zeroPad:2}}
    <span *ngIf="labels">h</span>
    <span *ngIf="!labels">:</span>
  </span>
  <span *ngIf="timeSpan.minutes || !hide">
    {{timeSpan.minutes | zeroPad:2}}
    <span *ngIf="labels">m</span>
    <span *ngIf="!labels">:</span>
  </span>
  <span class="seconds">
    {{timeSpan.seconds | zeroPad:2}}
    <span *ngIf="labels">s</span>
  </span>
</span>
