.problem-list {
  margin-bottom: 15px;
}
hr:first-child {
  margin-top: 0;
}
.collapse-btn {
  color: inherit;
}
#scoreboard-header {
  margin-top: 0;
}
:host >>> .active i {
  color: white;
}
:host >>> .active i {
  color: white;
}
