<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-3" *ngIf="competition" [collapse]="collapsed">
      <!--<div class="col-xs-12">
        <h3>{{competition.name}}</h3>
      </div>-->
      <div class="col-xs-12">
        <div class="row clearfix">
          <h4 class="pull-left">Problems</h4>
          <!--<span class="pull-right lead" (click)="collapsed = !collapsed">-</span>-->
        </div>
        <div class="row problem-list" *ngIf="problems">
          <!--TODO: checkmark if completed-->
          <a *ngFor="let problem of problems" [routerLink]="[problem.$key]" [routerLinkActive]="['active']" class="list-group-item">{{problem.name}}</a>
        </div>
      </div>
      <div class="col-xs-12 competition-info">
        <hr>
        <span>Remaining:
          <app-countdown class="timer" [date]="competition.endTime" [labels]="true"></app-countdown>
        </span>
      </div>
      <div class="col-xs-12 scoreboard-preview">
        <hr>
        <a [routerLink]="['scoreboard']">View Scoreboard</a>
        <app-scoreboard-preview [competitionId]="competition.$key"></app-scoreboard-preview>
      </div>
    </div>

    <div class="col-xs-12 col-md-9 problem-view">
      <div class="col-xs-12">
        <!-- Problem view here -->
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>
