<!--<div class="col-xs-12">
  <h3>{{competition.name}}</h3>
</div>-->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3" *ngIf="competition">
      <h3>Problems</h3>
      <div class="problem-list list-group" *ngIf="problems">
        <a *ngFor="let problem of problems" [routerLink]="[problem.$key]" [routerLinkActive]="['active']" class="list-group-item">
          <app-problem-preview [problemName]="problem.name" [solved]="hasSolved(problem.$key)" [numIncorrect]="numIncorrect(problem.$key)"></app-problem-preview>
        </a>
      </div>

      <div *ngIf="ended !== undefined">
        <div *ngIf="ended" class="text-center">
          <p class="lead text-danger">This competition has ended</p>
          <a [routerLink]="['scoreboard']" class="btn btn-primary center-block">View Results</a>
        </div>

        <div *ngIf="!ended">
          <div class="clearfix">
            <h3 class="pull-left" id="scoreboard-header">Details</h3>
            <a class="pull-right no-select collapse-btn" (click)="collapsed = !collapsed">
              <span>[ <span *ngIf="collapsed">+</span><span *ngIf="!collapsed">-</span> ]</span>
            </a>
          </div>

          <div class="details" [collapse]="collapsed">
            <div class="remaining-time">
              <hr>
              <span class="text-muted">Remaining:</span>
              <app-countdown class="timer" [date]="competition.endTime" [labels]="true"></app-countdown>
              <hr>
            </div>

            <div class="scoreboard-preview">
              <div class="clearfix">
                <h4 class="pull-left" id="scoreboard-header">Scoreboard</h4>
                <a class="pull-right" [routerLink]="['scoreboard']">View Full</a>
              </div>
              <app-scoreboard-preview [competitionId]="competition.$key"></app-scoreboard-preview>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-9 problem-view">
      <div class="col-xs-12">
        <!-- Problem view here -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
