/* Center the modal to the middle of the screen */
.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  padding: 10px;
  pointer-events: none;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}
.no-margin {
  margin: 0;
}
.section-title {
  margin-bottom: 15px;
}
.close-btn:focus {
  outline: none;
}
.email-group > * {
  border-radius: 0;
}
.password-group > * {
  border-radius: 0;
}
.options {
  color: #d5d5d5;
  /*text-align: center;*/
  text-align: right;
  opacity: 0.8;
}
