<div *ngIf="problem">
  <div class="row">
    <p class="col-xs-12 col-md-9 problem-description" [innerHTML]="problem.description | markdown"></p>
    <div class="col-xs-12 col-md-3 pull-right problem-details">
      <div class="clearfix problem-detail">
        <span class="pull-left problem-detail-label">Difficulty:</span>
        <span class="pull-right problem-detail-value">{{problem.difficulty}}</span>
      </div>
      <div class="clearfix problem-detail">
        <span class="pull-left problem-detail-label">Time Limit:</span>
        <span class="pull-right">{{problem.timeout}} second{{problem.timeout > 1 ? 's' : ''}}</span>
      </div>
      <div class="clearfix problem-detail" *ngIf="creator">
        <span class="pull-left problem-detail-label">Created by:</span>
        <a class="pull-right" [routerLink]="['/profile', creator.$key]">{{creator.name}}</a>
      </div>
    </div>
  </div>
  <app-code-editor #editor [(ngModel)]="submission"></app-code-editor>
  <div class="row clearfix">
    <p *ngIf="!authService.userSnapshot" class="pull-right">Your submissions will not be counted if you are not logged in!</p>
  </div>
  <div class="row clearfix">
    <button (click)="submissionModal.handleSubmission(submission)" class="problem-submit btn btn-primary pull-right">Submit</button>
  </div>

  <!-- The modal that will pop up on submit. -->
  <app-submission-modal [problemId]="problem.$key" #submissionModal></app-submission-modal>
</div>
