.problem-preview {
  display: flex;
  padding: 15px;
}
.problem-info {
  align-self: flex-start;
  text-align: left;
  overflow: hidden;
  padding: 0;
}
.problem-name {
  margin-top: 10px;
}
.problem-difficulty {
  opacity: 0.8;
}
.problem-btn {
  align-self: center;
}
