.no-margin {
  margin: 0;
}
.section-title {
  margin-bottom: 15px;
}
.close-btn:focus {
  outline: none;
}
.email-group > * {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.password-group > * {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.option {
  display: block;
  text-align: right;
  opacity: 0.8;
}
