<!-- TODO: see if name conflicts with submission modal -->
<div bsModal (onHide)="onHide()" #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-body container-fluid">
          <!--<div class="clearfix section-title">
            <h4 class="pull-left no-margin">Email / Password</h4>
            <button (click)="cancel()" class="pull-right close close-btn"><i fa [name]="'times'"></i></button>
          </div>-->
          <div *ngIf="failed" class="alert alert-danger">
            Wrong username or password
          </div>
          <form role="form" (ngSubmit)="logInWithEmailPassword()" #loginForm="ngForm">
            <div class="form-group">
              <div class="input-group email-group">
                <span class="input-group-addon"><i fa [name]="'envelope'" [fw]=true></i></span>
                <input type="email" class="form-control input-lg" [(ngModel)]="email" name="email" #emailField="ngModel" placeholder="Email" required>
              </div>
              <div class="input-group password-group">
                <span class="input-group-addon"><i fa [name]="'lock'" [fw]=true></i></span>
                <input type="password" class="form-control input-lg" [(ngModel)]="password" name="password" #passwordField="ngModel" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary form-control">
                Log In
              </button>
            </div>
            <div class="options">
              <a routerLink="/register">Register</a>
              <span> | </span>
              <a href="#">Forgot Password?</a>
            </div>
            <!--<hr/>-->
            <!-- TODO: facebook, google, github -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
