<div *ngIf="user" class="container">
  <div class="clearfix">
    <a *ngIf="isMyProfile()" class="btn btn-warning pull-right" [routerLink]="['/edit-profile', user.$key]"><i fa [name]="'pencil'"></i> Edit</a>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4" *ngIf="user.imgUrl">
      <img [src]="user.imgUrl" class="img-thumbnail">
    </div>
    <div class="col-xs-12 col-md-8">
      <h2 class="name">{{user.name}}</h2>
      <p class="email">{{user.email}}</p>
      <div *ngIf="isMyProfile() && !(authService.verified | async)" class="alert-warning not-verified">
        <p class="lead">Your email is still unverified!</p>
        <a (click)="authService.sendVerificationEmail()" class="btn btn-default">Resend Verification Email</a>
      </div>
    </div>
  </div>
</div>
