<div bsModal #modal="bs-modal" class="modal fade"
    [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Submission Sending -->
        <div *ngIf="state == 0">
          <div class="row">
            <h3>Submitting your code...</h3>
          </div>
          <div class="loading-spinner center-block"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
          <input (click)="cancel()" class="btn btn-lg btn-default" type="button" value="Cancel">
        </div>
        <!-- Results Received -->
        <div *ngIf="state == 1">
          <div class="row">
            <h3>Results Received</h3>
          </div>
          <input (click)="close()" class="btn btn-lg btn-default" type="button" value="Close">
        </div>
        <!-- Server Error -->
        <div *ngIf="state == 2">
          <div class="row">
            <h3>The server is unreachable!</h3>
          </div>
          <input (click)="close()" class="btn btn-lg btn-default" type="button" value="Close">
        </div>
      </div>
    </div>
  </div>
</div>
