a {
  cursor: pointer;
}
.list-group-header {
  font-weight: bold;
  background: #f8f9fa;
}
.green {
  color: green;
}
.red {
  color: red;
}
/* Center modals to the middle of the screen */
.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  padding: 10px;
  pointer-events: none;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}
.modal-header {
  margin-bottom: 0;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}
