<div *ngIf="topSubmissions">
  <div *ngIf="!(authService.verified | async)">
    <p class="text-center text-danger">You must verify your email before you can appear on the leaderboard.</p>
  </div>
  <div *ngIf="topSubmissions.length">
    <!-- Ranking table -->
    <div class="list-group">
      <!-- Heading -->
      <div class="list-group-item list-group-header">
        <div class="row">
          <div class="col-xs-1">#</div>
          <div class="col-xs-3">Holder</div>
          <div class="col-xs-2">Time</div>
          <div class="col-xs-2">Language</div>
          <div class="col-xs-4">Date</div>
        </div>
      </div>
      <app-ranking *ngFor="let submission of topSubmissions; let i = index" [rank]="i+1" [submission]="submission"></app-ranking>
    </div>
  </div>
  <div *ngIf="!topSubmissions.length" class="problem-leaderboard-absent">
    <p>There are no solutions yet!</p>
    <a class="btn btn-primary" [routerLink]="['../']">Be the First!</a>
  </div>
</div>
