.competition-preview {
  display: flex;
  padding: 15px;
}
.competition-info {
  text-align: left;
  padding: 0;
}
.competition-name {
  margin-top: 10px;
}
.competition-start {
  opacity: 0.8;
}
.competition-btn {
  align-self: center;
}

/* Starting Soon */
/*.starting-soon {
  background: #FFEE58;
}*/
/*.starting-soon .competition-btn {
  background: #FBC02D;
}*/
.starting-soon .badge {
  background: #FBC02D;
}

/* Started / Active */
/*.started {
  background: lightgreen;
}*/
/*.started .competition-btn {
  background: green;
}*/
.started .badge {
  background: green;
}

/* Just Ended */
/*.just-ended {
  background: #ff5252;
}*/
/*.just-ended .competition-btn {
  background: #d50000;
}*/
.just-ended .badge {
  background: #d50000;
}

/* Ended */
.ended {
  background: #EEEEEE;
}
.ended .badge {
  background: #757575;
}
