.competition-preview {
  display: flex;
  padding: 15px;
}
.competition-info {
  align-self: flex-start;
  text-align: left;
  overflow: hidden;
  padding: 0;
}
.competition-name {
  margin-top: 10px;
}
.competition-start {
  opacity: 0.8;
}
.competition-btn {
  align-self: center;
}

.starting-soon {
  background: #FFFDE7;
}
.started {
  background: #F0FFE9;
}
.just-ended {
  background: #ffebee;
}
.ended {
  background: #FAFAFA;
}
