<a class="competition-preview btn btn-default list-group-item"
   [class.distanced]="state === 'Distanced'"
   [class.starting-soon]="state === 'StartingSoon'"
   [class.started]="state === 'Started'"
   [class.just-ended]="state === 'JustEnded'"
   [class.ended]="state === 'Ended'"
   (click)="viewCompetition()">
  <div class="competition-info col-xs-12">
    <h3 class="competition-name">{{competition.name}}</h3>
    <div class="competition-time">
      <span *ngIf="state === 'Distanced'">Starts {{competition.startTime | date:'medium'}}</span>
      <span *ngIf="state === 'StartingSoon'">
        Starts in
        <app-countdown [date]="competition.startTime" [colors]="false"></app-countdown>
      </span>
      <span *ngIf="state === 'Started'">Started {{abbreviateAgo(competition.startTime)}} ago</span>
      <span *ngIf="state === 'JustEnded'">Ended {{abbreviateAgo(competition.endTime)}} ago</span>
      <span *ngIf="state === 'Ended'">Closed {{competition.endTime | date:'medium'}}</span>
    </div>
  </div>
  <a class="competition-btn btn btn-primary">
    <span *ngIf="state === 'Distanced' || state === 'StartingSoon'">Wait</span>
    <span *ngIf="state === 'Started'">Enter</span>
    <span *ngIf="state === 'JustEnded' || state === 'Ended'">View Results</span>
  </a>
</a>
