label {
  opacity: 0.75;
}
.ng-valid {
  border-left: 5px solid #42A948;
}
.ng-invalid {
  border-left: 5px solid #a94442;
}
.valid {
  border-left: 5px solid #42A948;
}
.invalid {
  border-left: 5px solid #a94442;
}
.main-message {
  font-size: 1.2em;
}
img {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 400px;
  max-height: 400px;
}
