.problem-preview {
  margin-bottom: 15px;
}
.search {
  padding: 5px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}
.search input {
  border: 0;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.search .input-group-addon {
  margin-left: 15px;
  margin-right: 15px;
  color: #666;
  background: none;
  border: 0;
  border-right: solid 1px #ccc;
}
.create-btn {
  margin-bottom: 15px;
}
